div.invoice-container{
    background-color: #f1f1ef;
    header{
        color: white;
        padding: 5px 20px;
        h3{font-size: 22px;}
        i{font-size: 15px;cursor: pointer;}
    }

    div.form-body{
        padding: 1rem 1.3rem;
        height: 89%;
        overflow: auto;
        div.order-num{
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: #6b6b6b;
            text-align: right;
            font-style: italic;
        }
        section.first{
            margin-bottom: 1.5rem;
            div.company{
                i{
                    font-size: 22.5px;
                    margin-right: 8px;
                }

                h3{
                    font-size: 30px;
                    font-weight: 400;
                }
            }

            div.inp-form{
                input, select{
                    border: 1px solid #c2c2c2;
                    padding: 5px 15px;
                    outline: none;
                }
                span{
                    font-size: 12px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    z-index: 999;
                    top: -45%;
                    color: #6b6b6b;
                }
                span.issued_By{left: 0;}
                span.username{left: 19.5%;}
                span.invoice_No{left: 48.3%;}
                span.invoice_Date{left: 77.3%;}
            }
        }

        section.second{
            margin-bottom: 2rem;
            div.billing, div.shipping{
                width: 40%;
                padding: 10px 25px;
                border-radius: 15px;
                background-color: white;
                box-shadow: 0px 1px 8px 0px #00000047;

                div.header{
                    justify-content: space-between;
                    margin-bottom: 15px;
                    span{
                        font-weight: 500;
                        color: #999999;
                    }
                    div.icons{
                        i{cursor: pointer;}
                        i:first-child{
                            font-size: 18px;
                            margin-right: 10px;
                        }
                    }
                }

                div.address{
                    line-height: 25.5px;
                    font-size: 15.8px;
                    letter-spacing: 0.3px;
                }

                div.same-as{
                    span{font-size: 14px;}
                }
            }
        }

        section.third{
            margin-bottom: 2rem;
            table{
                background-color: white;
                border-collapse: collapse;
                box-shadow: 0px 1px 8px 0px #00000047;
                th{text-align: center;}
                td,th{border: 1px solid darkgray; padding: 2px 3px;}
                td:not(:nth-child(2)){text-align: center;}
                td.icon{cursor: pointer;}

                td{
                    div{
                        h4{
                            font-size: 20px;
                            font-weight: 500;
                            color: #616161;
                        }
                        span{font-size: 15px;}
                    }
                }
            }
        }

        section.forth{
            margin-bottom: 2rem;
            div.bank-details{
                width: 35%;
                background-color: white;
                line-height: 30px;
                padding: 10px 20px;
                border-radius: 15px;
                box-shadow: 0px 1px 8px 0px #00000047;
                div.header {
                    margin-bottom: 10px;
                    span{font-weight: 500;}
                    i{cursor: pointer;}
                }
                div.bank-desc{
                    div.data{
                        display: flex;
                        justify-content: space-between;
                        span:first-child{}
                        span:last-child{}
                    }
                }
            }

            div.total{
                width: 40%;
                border-radius: 15px;
                line-height: 35px;
                padding: 10px 30px;
                background-color: white;
                box-shadow: 0px 1px 8px 0px #00000047;
                div.data{
                    display: flex;
                    justify-content: space-between;
                    span:first-child{}
                    span:last-child{}
                }
                div.grand {
                    border-top: 1px solid #c2c2c2;
                    span:first-child{font-weight: 500;}
                }
            }
        }

        section.fifth{
            div.pi-status{
                span{font-weight: 500;}
                select{
                    padding: 2px 15px;
                    border: 1px solid #c2c2c2;
                    font-size: 15px;
                    font-weight: 500;
                    letter-spacing: 0.7px;
                    margin-left: 10px;
                    outline: none;
                }
            }
            div.check-fields{
                span{font-weight: 500;}

                div.radios{
                    div.radio{
                        p-radioButton{scale: 0.8;}
                        label{font-size: 15px;}
                    }
                }
            }

            div.attachment{
                span{font-weight: 500;}
                div.flex.gap-1{
                    p-checkbox{scale: 0.8;}
                    label{
                        font-size: 15px;
                        letter-spacing: 0.5px;
                        font-weight: 500;
                        color: #3d3d3d;
                    }
                }
            }
        }
    }
    div.submit-btn{
        padding: 5px 15px;
        button{
            padding: 5px 15px;
            letter-spacing: 0.5px;
        }
    }

    div.loading-screen{
        height: 95%;
        background-color: #00000059;
        div.loading{
            i{font-size: 2.2rem;color: white;}
            span{
                font-size: 14px;
                margin-top: 10px;
                font-weight: 500;
                letter-spacing: 0.8px;
                color: white;
            }
        }
    }
}

p-dialog{
    div.popup-container{
        input{color: #484848;}
        h3{
            font-weight: 400;
            padding: 2% 0;
        }

        div.btn-box{
            padding: 10px 0;
            button{
                padding: 5px 15px;
                letter-spacing: 0.5px;
            }
        }

        section.first{
            div.as-same{
                input{margin-right: 5px;}
                span{font-size: 14px;}
            }

            div.fieldset{
                border: 1px solid #c2c2c2;
                position: relative;
                padding: 2rem 1rem;
                padding-top: 2.5rem;
                div.legend{
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    word-spacing: 5px;
                    position: absolute;
                    z-index: 99;
                    top: -7%;
                    left: 1%;
                    background-color: white;
                    padding: 0 15px;
                }
                div.form-box{
                    span{
                        &:first-child{margin-bottom: 1.5rem;}
                        input{
                            width: 100%;
                            border-radius: 0;
                            padding: 10px;
                        }
                    }
                }
            }
        }

        section.second{
            padding: 0 10%;
            select{
                border: 1px solid #c2c2c2;
                padding: 8px 25px;
                width: 100%;
                outline: none;
            }

            div.input-box{
                div.input-fields{
                    display: flex;
                    align-items: center;
                    span{
                        font-size: 17px;
                        font-weight: 500;
                        width: 25%;
                    }
                    input{
                        width: 75%;
                        border: 1px solid #c2c2c2;
                        padding: 5px 10px;
                        outline: none;
                    }
                }
            }
        }

        section.third{
            padding: 0 10%;
            div.input-fields{
                display: flex;
                align-items: end;
                span{
                    font-size: 17px;
                    font-weight: 500;
                    width: 25%;
                }
                input{
                    border: 1px solid #c2c2c2;
                    width: 75%;
                    outline: none;
                    padding: 5px 15px;
                }
            }
        }
    }
}

